In [2]:
import os
import sys
sys.path.append('../Module')
folder_path = '../Dataset'

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier

from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, f1_score
from sklearn import set_config

from loader_csv import charger_csv
from data_to_csv import df_to_csv
from utils import generate_description
from currency import currency_cleaning
from naics_engineering import naicsEngineering

# Spécifiez les chemins des quatre parties du CSV découpé
partie1 = "../Dataset/SBAnational_part_part1.csv"
partie2 = "../Dataset/SBAnational_part_part2.csv"
partie3 = "../Dataset/SBAnational_part_part3.csv"
partie4 = "../Dataset/SBAnational_part_part4.csv"

# Utilisez la fonction charger_csv pour obtenir un DataFrame avec toutes les données réassemblées
df = charger_csv(partie1, partie2, partie3, partie4)

/home/utilisateur/projet/Brief_Prêt/Model_pret/Model/../Module/loader_csv.py:9: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_partie4 = pd.read_csv(partie4)

In [3]:
generate_description(df)

,feature,data_type,null,nulPct,unique,uniqueSample
0,LoanNr_ChkDgt,int64,0,0.00,899164,"[8631974007, 1857015009, 1819445008, 581620400..."
1,Name,object,14,0.00,779583,"[POST-NET, BEST GRAPHICS INTERNATIONAL IN, WAR..."
2,City,object,30,0.00,32581,"[GREENSBURG, GRASS VALLEY, WESTERVILLE, DENVER..."
3,State,object,14,0.00,51,"[NY, TX, PA, FL, IL]"
4,Zip,int64,0,0.00,33611,"[93060, 95820, 78681, 43603, 11580]"
5,Bank,object,1559,0.17,5802,"[WELLS FARGO BANK NATL ASSOC, COMPASS BANK, VI..."
6,BankState,object,1566,0.17,56,"[PA, RI, OH, OR, AL]"
7,NAICS,int64,0,0.00,1312,"[561431, 0, 622110, 311412]"
8,ApprovalDate,object,0,0.00,9859,"[18-Mar-99, 16-Jul-10, 29-Aug-07, 24-Apr-06, 1..."
9,ApprovalFY,object,0,0.00,71,"[1998, 2007, 2009, 2005, 1994]"
10,Term,int64,0,0.00,412,"[120, 60, 84, 5, 58]"
11,NoEmp,int64,0,0.00,599,"[11, 4, 110, 2, 1]"
12,NewExist,float64,136,0.02,3,"[1.0, 2.0]"
13,CreateJob,int64,0,0.00,246,[0]
14,RetainedJob,int64,0,0.00,358,"[71, 0, 6]"
15,FranchiseCode,int64,0,0.00,2768,"[1, 0]"
16,UrbanRural,int64,0,0.00,3,"[1, 2, 0]"
17,RevLineCr,object,4528,0.50,18,"[0, N]"
18,LowDoc,object,2582,0.29,8,[N]
19,ChgOffDate,object,736465,81.91,6448,"[nan, 19-Mar-09]"
20,DisbursementDate,object,2368,0.26,8472,"[13-Dec-95, 30-Nov-02, 31-Aug-09, 31-Jan-95, 3..."
21,DisbursementGross,object,0,0.00,118859,"[$75,000.00 , $130,000.00 , $120,235.00 , $30,..."
22,BalanceGross,object,0,0.00,15,[$0.00 ]
23,MIS_Status,object,1997,0.22,2,"[P I F, CHGOFF]"
24,ChgOffPrinGr,object,0,0.00,83165,[$0.00 ]
25,GrAppv,object,0,0.00,22128,"[$250,000.00 , $150,000.00 , $130,000.00 , $25..."
26,SBA_Appv,object,0,0.00,38326,"[$267,000.00 , $12,500.00 , $88,450.00 , $68,6..."

In [4]:
df.drop_duplicates(subset=['LoanNr_ChkDgt'], inplace=True)

In [5]:
df = df[df.NAICS != 0]
df['NAICS'] = df['NAICS'].apply(naicsEngineering)
df.NAICS.value_counts()

NAICS
44-45    127251
81        72618
54        68170
31-33     68029
72        67600
23        66646
62        55366
42        48743
56        32685
48-49     22531
71        14640
53        13632
51        11379
52         9496
11         9005
61         6425
21         1851
22          663
55          257
92          229
Name: count, dtype: int64

In [6]:
df = df[(df.NewExist == 1.0) | (df.NewExist == 2.0)]
df.NewExist.value_counts()

NewExist
1.0    502830
2.0    193520
Name: count, dtype: int64

In [7]:
df['GrAppv'] = df['GrAppv'].apply(currency_cleaning).astype(float).astype(int)
df['SBA_Appv'] = df['SBA_Appv'].apply(currency_cleaning).astype(float).astype(int)
df['DisbursementGross'] = df['DisbursementGross'].apply(currency_cleaning).astype(float).astype(int)
df['BalanceGross'] = df['BalanceGross'].apply(currency_cleaning).astype(float).astype(int)
df['ChgOffPrinGr'] = df['ChgOffPrinGr'].apply(currency_cleaning).astype(float)

In [8]:
mapping = {'0': 'N', '1': 'Y'}
df['RevLineCr'] = df['RevLineCr'].replace(mapping)

valid_values = ['N', 'Y']
df = df[df['RevLineCr'].isin(valid_values)]

df['RevLineCr'].value_counts()

RevLineCr
N    484187
Y    195147
Name: count, dtype: int64

In [9]:
mapping = {'0': 'N', '1': 'Y'}
df['LowDoc'] = df['LowDoc'].replace(mapping)

valid_values = ['N', 'Y']
df = df[df['LowDoc'].isin(valid_values)]

df['LowDoc'].value_counts()

LowDoc
N    608823
Y     66203
Name: count, dtype: int64

In [10]:
df['FranchiseCode'] = df['FranchiseCode'].apply(lambda x: 1 if x >= 1 else 0)

In [11]:
MIS_Status = pd.get_dummies(df['MIS_Status'], drop_first=True)
df.drop(['MIS_Status'], axis=1, inplace=True)
df = pd.concat([df, MIS_Status], axis=1)
df = df.rename(columns={'P I F': 'Approve'})

In [12]:
leaking_feature = ['ChgOffPrinGr', 'BalanceGross', 'DisbursementGross', 'DisbursementDate', 'ChgOffDate']
useless_feature = ['Name', 'Zip', 'LoanNr_ChkDgt', 'City', 'State', 'Bank', 'BankState', 'ApprovalDate', 'ApprovalFY']
df = df.drop(leaking_feature, axis=1)
df = df.drop(useless_feature, axis=1)
df.dropna(inplace=True)

In [13]:
df.shape

(675026, 13)

In [14]:
generate_description(df)

,feature,data_type,null,nulPct,unique,uniqueSample
0,NAICS,object,0,0.0,20,"[51, 23, 71, 56]"
1,Term,int64,0,0.0,377,"[84, 75, 300, 60, 69]"
2,NoEmp,int64,0,0.0,499,"[35, 1, 2, 17]"
3,NewExist,float64,0,0.0,2,"[1.0, 2.0]"
4,CreateJob,int64,0,0.0,216,"[0, 3]"
5,RetainedJob,int64,0,0.0,323,"[2, 0, 7, 1]"
6,FranchiseCode,int64,0,0.0,2,"[0, 1]"
7,UrbanRural,int64,0,0.0,3,[1]
8,RevLineCr,object,0,0.0,2,"[Y, N]"
9,LowDoc,object,0,0.0,2,"[Y, N]"
10,GrAppv,int64,0,0.0,16880,"[366000, 442381, 100000, 250000, 33200]"
11,SBA_Appv,int64,0,0.0,28240,"[50000, 217275, 52500, 86832, 4250]"
12,Approve,bool,0,0.0,2,[True]

In [15]:
df_to_csv(df, folder_path, 'SBA_Cleaned.csv')

Le DataFrame a été converti avec succès en fichier CSV : ../Dataset/SBA_Cleaned.csv